--
-- PostgreSQL database dump
--

\restrict 8F0kjTJlWgqHndYeZSNKneSPleyAy4FNrmmnRp4N0BtiBzFYHgL6aY33pqPmZdr

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: blog_post; Type: TABLE; Schema: public; Owner: bloguser
--

CREATE TABLE public.blog_post (
    id integer NOT NULL,
    title character varying(250) NOT NULL,
    subtitle character varying(250) NOT NULL,
    body text NOT NULL
);


ALTER TABLE public.blog_post OWNER TO bloguser;

--
-- Name: blog_post_id_seq; Type: SEQUENCE; Schema: public; Owner: bloguser
--

CREATE SEQUENCE public.blog_post_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.blog_post_id_seq OWNER TO bloguser;

--
-- Name: blog_post_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bloguser
--

ALTER SEQUENCE public.blog_post_id_seq OWNED BY public.blog_post.id;


--
-- Name: blog_post id; Type: DEFAULT; Schema: public; Owner: bloguser
--

ALTER TABLE ONLY public.blog_post ALTER COLUMN id SET DEFAULT nextval('public.blog_post_id_seq'::regclass);


--
-- Data for Name: blog_post; Type: TABLE DATA; Schema: public; Owner: bloguser
--

COPY public.blog_post (id, title, subtitle, body) FROM stdin;
1	guru sevak singh	my name is guru sevak singh	jina lala hu hu
\.


--
-- Name: blog_post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bloguser
--

SELECT pg_catalog.setval('public.blog_post_id_seq', 1, true);


--
-- Name: blog_post blog_post_pkey; Type: CONSTRAINT; Schema: public; Owner: bloguser
--

ALTER TABLE ONLY public.blog_post
    ADD CONSTRAINT blog_post_pkey PRIMARY KEY (id);


--
-- Name: blog_post blog_post_title_key; Type: CONSTRAINT; Schema: public; Owner: bloguser
--

ALTER TABLE ONLY public.blog_post
    ADD CONSTRAINT blog_post_title_key UNIQUE (title);


--
-- PostgreSQL database dump complete
--

\unrestrict 8F0kjTJlWgqHndYeZSNKneSPleyAy4FNrmmnRp4N0BtiBzFYHgL6aY33pqPmZdr

